<div class="container">
    <section class="section-add-promo">

        <div class="row row-vertical-align">
            <div class="col">
                <h1 class="title">Novo</h1>
            </div>
            <div class="col text-right">
            </div>
        </div>
    
        <p v-if="errors.length" class="form-errors">
            <b>Problema(s) identificado(s):</b>
            <ul>
                <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
            </ul>
        </p>
    
        <form @submit="submitForm" novalidate="true">
            <div class="form-group">
                <label for="inputName">Nome</label>
                <input type="text" class="form-control" id="inputName" v-model="form.name" maxlength="50">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputStartAt">Data inicial</label>
                    <input type="date" class="form-control" id="inputStartAt" v-model="form.startAt" maxlength="10" placeholder="dd/mm/aaaa">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputFinishAt">Data final</label>
                    <input type="date" class="form-control" id="inputFinishAt" v-model="form.finishAt" maxlength="10" placeholder="dd/mm/aaaa">
                </div>
            </div>
            <div class="form-group">
                <label for="inputFile">Imagem</label>
                <b-form-file id="inputFile" v-model="form.file" accept="image/jpeg" ref="file" v-on:change="handleFile" placeholder="Selecione uma imagem"></b-form-file>
            </div>
            <div class="form-group">
                <label for="inputDesc">Descrição</label>
                <textarea class="form-control" id="inputDesc" v-model="form.desc" rows="3" maxlength="500"></textarea>
            </div>
            <div class="form-group">
                <label for="inputTerms">Regras</label>
                <textarea class="form-control" id="inputTerms" v-model="form.terms" rows="3" maxlength="500"></textarea>
            </div>
            <button :disabled="loading" class="btn btn-primary mb-2">{{labelBtnSubmit}}</button>
        </form>
    </section>
</div>
