<div class="container">
    <section class="section-home">
        <br/>
        <b-tabs small v-model="tabIndex">
            <b-tab title="Números">
                <rand-number />
            </b-tab>
            <b-tab title="Alfabeto" >
                <rand-alphabet />
            </b-tab>
            <b-tab title="Nomes">
                <rand-words />
            </b-tab>
            <b-tab title="CEF">
                    <rand-cef />
                </b-tab>
            </b-tabs>
        <br/> 
    </section>
</div>
