<div class="container">
    <section class="section-profile justify-content-center">
        <br/>
        <b-card class="text-center">
            <b-img :src="picture" rounded="circle" width="75" height="75" alt="img" class="m-1" />
            <h3>{{name}}</h3>
            <p class="card-text">
                {{email}}
            </p>
            <b-button @click="logout" variant="primary" class="w-100">Sair</b-button>
      </b-card>
    </section>
</div>
