.container-rand-numbers .form-group{
    margin-bottom: 0px;
    padding-left: 15px;
    margin-bottom: 10px;
}
.container-rand-numbers .text-error{
    color: #f00;
}
.container-rand-numbers .result-text{
    padding: 15px;
    font-size: 1.5em;
}
