<div class="container container-rand-numbers">
    <br/>
    <form class="row">
        <div class="col-md-3 col-sm-3 col-12 form-group">
            <label for="inputQtd">Quantidade</label>
            <input type="number" class="form-control" id="inputQtd" v-model="qtd" :min="minValRequired" :max="maxQtdRequired">
        </div>
        <div class="col-md-3 col-sm-3 col-6 form-group">
            <label for="inputMinVal">De</label>
            <input type="number" class="form-control" id="inputMinVal" v-model="minVal" :min="minValRequired" :max="maxValRequired">
        </div>
        <div class="col-md-3 col-sm-3 col-6 form-group">
            <label for="inputMaxVal">Até</label>
            <input type="number" class="form-control" id="inputMaxVal" v-model="maxVal" :min="minValRequired" :max="maxValRequired">
        </div>
        <div class="col-md-3 col-sm-3 col-12 form-group align-bottom">
            <label for="btnRand">&nbsp;</label>
            <button id="btnRand" type="button" class="btn btn-primary w-100" @click="rand" :disabled="isLoading">Sortear</button>
        </div>
    </form>
    <div v-if="errors.length" class="form-errors">
        <ul>
            <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
        </ul>
    </div>
    <br/>
    <div class="row result-title" v-if="resultText">
        <div class="col-sm-3">
            {{isLoading ? 'Sorteando' : 'Resultado'}}
        </div>
        <div class="col-sm">
            <hr>
        </div>
    </div>
    <div class="row result-text" v-if="resultText">
        <div class="col text-center">{{resultText}}</div>
    </div>
</div>