<div class="container">
    <section class="section-promo-detail">
        <form>
            <div class="form-group">
                <label for="inputName">Nome</label>
                <input type="text" class="form-control" id="inputName" v-model="name" disabled>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputStartAt">Data inicial</label>
                    <input type="text" class="form-control" id="inputStartAt" v-model="startAt" disabled>
                    <small id="inputStartAtHelp" class="form-text text-muted">
                        Os usuário só verão e participação do sorteio após esta data.
                    </small>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEndAt">Data final</label>
                    <input type="text" class="form-control" id="inputEndAt" v-model="endAt" disabled>
                    <small id="inputEndAtHelp" class="form-text text-muted">
                        Após esta data não será mais possível participar do sorteio.
                    </small>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img :src="image" width="100" />
                </div>
            </div>
            <div class="form-group">
                <label for="inputDesc">Descrição</label>
                <textarea class="form-control" id="inputDesc" v-model="desc" rows="3" disabled></textarea>
            </div>
            <div class="form-group">
                <label for="inputTerms">Regras</label>
                <textarea class="form-control" id="inputTerms" v-model="terms" rows="3" disabled></textarea>
            </div>
        </form>
    </section>
</div>
