.section-promo .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.section-promo .promo-picture img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}
.section-promo .divide {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 2px;
  background-color: #2196f3;
  border: 0;
}
.section-promo .list-title {
  margin-bottom: 16px;
}
.section-promo .list-title span{
  font-size: 1.5em;
  vertical-align: middle;
}
.section-promo .list-icon {       
  padding: 12px 12px 10px 12px;
  color: #fff;
  background-color: #2196f3;
  border-radius: 25px;
  margin: 0px 10px 0px 0px;
  vertical-align: middle;
}
.section-promo .list-content {
  font-size: 0.8em;
}
.section-promo .title {
  margin-top: 18px;
}