<div class="container">
    <section class="section-promo">
        <div class="row">
            <div class="col-md-6 text-center">
                <picture class="promo-picture">
                    <img v-lazy="image" />
                </picture>
            </div>
            <div class="col-md-6">
                <h3 class="title">{{name}}</h3>
                <hr class="divide bg-primary">
                <p>{{desc}}</p>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="list-title">
                                <i class="material-icons list-icon bg-primary">verified_user</i>
                            <span>Regras</span>
                        </div>
                        <div class="list-content">{{terms}}</div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="list-title">
                            <i class="material-icons list-icon bg-primary">feedback</i>
                            <span>Mais informações</span>
                        </div>
                        <div class="list-content">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>Data inicial</strong>
                                        </td>
                                        <td class="text-right">{{startAt}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Data final</strong>
                                        </td>
                                        <td class="text-right">{{finishAt}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Número de sorteios</strong>
                                        </td>
                                        <td class="text-right">{{maxWinners}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Limite de usuários</strong>
                                        </td>
                                        <td class="text-right">{{maxUsers}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Total de usuários</strong>
                                        </td>
                                        <td class="text-right">{{totalUsers}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary btn-lg w-100" href="javascript:void(0)" :class="{'disabled': (isFinished||isCompeting||isOwner)}" @click="compete">{{btnAddText}}</a>
                <br/>
                <br/>
            </div>
        </div>
    </section>
</div>