.form-errors {
    color: #d9534f;
}
.form-errors ul{
    margin-left: 20px;
    padding-left: 10px;
    list-style-type: disc;
    margin-bottom: 0px;
}
.form-label, label{
    position: initial;
    font-size: inherit;
  }

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.has-fixed-navbar {
    margin-top: 55px;
}

.row-vertical-align {
    display: flex;
    align-items: center;
}