<div class="container">
    <section class="section-list-promo-following">
        <div class="row row-vertical-align">
            <div class="col">
                <h1 class="title">Sorteios que participo</h1>
            </div>
        </div>
    
        <div v-if="dataList.length == 0">
            <h6>Você não tem promoções.</h6>
        </div>
    
        <table class="table" v-if="dataList.length">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in dataList" :key="item.id">
                    <td>{{index+1}}</td>
                    <td>{{item.name}}</td>
                    <td class="text-right">
                        <router-link :to="{ name: 'promo', params: { id: item.id }}"><i class="material-icons icon">pageview</i></router-link>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
