.container-rand-alphabet .form-group{
    margin-bottom: 0px;
    padding-left: 15px;
    margin-bottom: 10px;
}
/*
.container-rand-alphabet .form-group input{
    z-index: -1;
}
*/
.container-rand-alphabet .text-error{
    color: #f00;
}
.container-rand-alphabet .result-text{
    padding: 15px;
    font-size: 1.5em;
}
