<div class="container container-rand-alphabet">
    <br/>
    <form>
        <div class="row">
            <div class="col-sm form-group">
                <label for="inputLetters">Letras</label>
                <b-form-select multiple v-model="values" :options="options"></b-form-select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-6 form-group">
                <label for="inputQtd">Quantidade</label>
                <input type="number" class="form-control" id="inputQtd" v-model="qtd" :min="minRequired" :max="maxRequired">
            </div>
            <div class="col-md-6 col-sm-6 col-6 form-group align-bottom">
                <label for="btnRand" class="w-100">&nbsp;</label>
                <button id="btnRand" type="button" class="btn btn-primary w-100" @click="rand" :disabled="isLoading">Sortear</button>
            </div>
        </div>
    </form>
    <div v-if="errors.length" class="form-errors">
        <ul>
            <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
        </ul>
    </div>
    <br/>
    <div class="row result-title" v-if="resultText">
        <div class="col-sm-2">
            {{isLoading ? 'Sorteando' : 'Resultado'}}
        </div>
        <div class="col-sm">
            <hr>
        </div>
    </div>
    <div class="row result-text" v-if="resultText">
        <div class="col text-center">{{resultText}}</div>
    </div>
</div>