.container-rand-cef .form-group{
    margin-bottom: 0px;
    padding-left: 15px;
    margin-bottom: 10px;
}
.container-rand-cef .text-error{
    color: #f00;
}
.container-rand-cef .result-text{
    padding: 15px;
    font-size: 1.5em;
}

.container-rand-cef .radios{
    padding-bottom: 15px;
}
