<div class="container container-rand-cef">
    <br/>
    <form>
        <div class="row">
            <div class="col radios">
                    <b-form-radio-group v-model="selected"
                    buttons
                    button-variant="outline-primary"
                    size="sm"
                    :options="optionsType"
                    name="radioTypes">
                    </b-form-radio-group>
            </div>
        </div>
        <div class="row">
                <div class="col-md-3 col-sm-3 col-12 form-group">
                        <label for="inputQtd">Números</label>
                        <b-form-select id="inputQtd" v-model="qtd" :options="optionsQtd" class="mb-3" />
                    </div>
                    <div class="col-md-3 col-sm-3 col-6 form-group">
                        <label for="inputMinVal">De</label>
                        <input type="number" disabled class="form-control" id="inputMinVal" v-model="minVal" :min="minValRequired" :max="maxValRequired">
                    </div>
                    <div class="col-md-3 col-sm-3 col-6 form-group">
                        <label for="inputMaxVal">Até</label>
                        <input type="number" disabled class="form-control" id="inputMaxVal" v-model="maxVal" :min="minValRequired" :max="maxValRequired">
                    </div>
                    <div class="col-md-3 col-sm-3 col-12 form-group align-bottom">
                        <label for="btnRand">&nbsp;</label>
                        <button id="btnRand" type="button" class="btn btn-primary w-100" @click="rand" :disabled="isLoading">Sortear</button>
                    </div>            
        </div>
    </form>
    <div v-if="errors.length" class="form-errors">
        <ul>
            <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
        </ul>
    </div>
    <br/>
    <div class="row result-title" v-if="resultText">
        <div class="col-sm-2">
            {{isLoading ? 'Sorteando' : 'Resultado'}}
        </div>
        <div class="col-sm">
            <hr>
        </div>
    </div>
    <div class="row result-text" v-if="resultText">
        <div class="col text-center">{{resultText}}</div>
    </div>
</div>