<template>
  <div id="app">
    <!--[if lt IE 9]>
      <p class="upgrade-browser">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <navbar />
    <div class="has-fixed-navbar">
      <router-view/>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/navbar"

export default {
  name: "App",
  components: {
    navbar: Navbar
  }
};
</script>
