<template> 
  <div class="container">
    <section class="section-ops text-center"> 
      <div class="vertical-align">
        <h1>{{item.title}}</h1>
        <h2>{{item.subtitle}}</h2>
        <p>{{item.message}}</p>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Ops",
  data: function() {
    return {
      item: null,
      list: []
    };
  },
  created: function() {

    this.list = [
      {
        code: 404,
        title: "~404~",
        subtitle: "Página não encontrada",
        message: "Lamentamos, mas a página que você tentou acessar não existe."
      },
      {
        code: 500,
        title: "~500~",
        subtitle: "Ops!",
        message: "Lamentamos, mas a página que você tentou acessar retornou um pequeno erro."
      },
      {
        code: 401,
        title: "~401~",
        subtitle: "Acesso não autorizado",
        message: "Lamentamos, mas você não tem permissão para acessar esta página."
      }
    ];

    const hash = String(this.$route.hash || '#404').replace('#', '') 
    
    this.list.forEach(item => {
      if(String(item.code) == hash){
        this.item = item
      }
    })

    if(!this.item){
      this.item = this.list[0]
    }

  }
};
</script>

<style>
.section-ops {
  height: 100vh;
}

.section-ops .vertical-align {
  margin-top: -55px;
}

.section-ops h2 {
  font-size: 1.5em;
}

/*
* {
  margin: 0;
  line-height: 1.2;
}

html {
  display: table;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  text-align: center;
  color: #888;
}

body {
  display: table-cell;
  margin: 2em auto;
  vertical-align: middle;
}

h1 {
  margin-bottom: 2rem;
  font-size: 5rem;
  font-weight: 400;
  color: #555;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

p {
  margin: 0 auto;
  width: 280px;
}

@media only screen and (max-width: 280px) {
  body,
  p {
    width: 95%;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0 0 0.3rem;
  }
}
*/
</style>