.section-login {
    /*background-image: url(/static/images/bg-login.jpg);*/
    height: 100vh;
    position: relative;
    background-position: 50%;
    background-size: cover;
    margin-top: -55px;
}

.section-login .overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0,0,0,.45);*/
}

.section-login .motivation-text .title {
    font-size: 1.5em;
    font-weight: 300;
    /*color: hsla(0,0%,100%,.95);*/
    text-transform: uppercase;
    margin-bottom: 24px;
}

@media only screen and (max-width : 575px) {
    .section-login {
        margin-top: 0px;
    }
}


@media only screen and (min-width : 768px) {
    .section-login .overlay .content {
        top: 50%;
    }    

    .section-login .motivation-text h1{
        font-size: 3em;
    }

    .section-login .overlay .content {
        position: relative;
        top: 50%;
        width: 100%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
}

.section-login .overlay .content p {
    margin-bottom: 28px;
    /*color: hsla(0,0%,100%,.75);*/
}

.section-login .card {
    width: 20.5rem;
    margin: auto;
    margin-bottom: 30px;
}

.section-login .card form {
    margin-top: 25px;
}

.section-login .card .card-title {
    margin-bottom: 1em;
    font-size: 1.5em;
}

.section-login .loading-container {
    text-align: center;
}

.section-login .motivation-text {
    margin-top: 10px;
}