<section id="top" class="section-login">
    <div class="overlay">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 order-sm-last justify-content-center">
                        <div class="card vertical-align">
                            <div class="card-body">
                                <h2 class="card-title">Entre e participe</h2>
                                <div class="form" action="#">
                                    <div class="form-group">
                                        <button class="btn btn-primary w-100" @click="loginGoogle" :disabled="isLoading">Entrar com Google</button>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary w-100" @click="loginFacebook" :disabled="isLoading">Entrar com Facebook</button>
                                    </div>
                                </div>
                                <div v-if="isLoading" class="loading-container">
                                    <img src="/static/images/loading.gif" />
                                </div>
                                <div v-if="errors.length" class="form-errors">
                                    <ul>
                                        <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 order-sm-first">
                        <div class="motivation-text">
                                <h1 class="title">Sua identificação é muito importante</h1>
                                <p>Caso você seja um dos ganhadores, precisamos te informar sobre a excelente notícia e seu login é
                                    um requisito básico para isso.</p>
                                <p>Após você entrar com sua conta do Google ou Facebook, você também pode criar grandes sorteios, e
                                    o melhor de tudo é que não vai pagar nada por isso ;)</p>        
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>