<b-navbar toggleable="sm" fixed="top" type="light" variant="light">
    <div class="container">
        <router-link :to="{name:'home'}" class="navbar-brand">Sorteyou</router-link>
        <b-navbar-toggle target="nav_collapse" v-if="display"></b-navbar-toggle>
        <b-collapse is-nav id="nav_collapse" class="justify-content-end" v-if="display">
            <b-navbar-nav class="navbar-right">
                <li class="nav-item" v-for="(item, index) in list" :key="index" v-if="item.display">
                    <router-link :to="{name: item.name}" class="nav-link">{{item.title}}</router-link>
                </li>
            </b-navbar-nav>
        </b-collapse>
    </div>
</b-navbar>